{{subscribe_form}}

<footer class="footer">
  <hr>
  <div class="container">
    <div class="columns">
      <div class="column is-4">
        <p class="footer-link-title has-text-weight-bold">{{t "Navigation"}}</p>
        {{navigation}}
      </div>
      <div class="column is-4">
        <p class="footer-link-title has-text-weight-bold">{{t "Follow Dan"}}</p>
        {{> social-media}}
      </div>
      <div class="column is-4">
        <p class="footer-link-title has-text-weight-bold">{{t "Projects by Dan"}}</p>
        <ul>
          <li>
            <a href="https://www.index-app.org">InDEx App</a>
          </li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="columns">
      <div class="column is-4">
        <h6>Copyright {{date format="YYYY"}}, Daniel Leightley</h6>
        <p>Except otherwise stated, everything on this site is licensed under the <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>. Simply, share with attribution.</p>
      </div>
      <div class="column is-4">
        <h6>Disclaimer</h6>
        <p>All code, opinion and information on this blog are my personal views and do not represent or relate my past and/or current employer's view in any way.</p>
      </div>
      <div class="column is-4">
        <h6>Published with Ghost</h6>
        <p>This site runs entirely on the awesome <a href="https://ghost.org/">Ghost Pro</a> platform. Read more about Ghost and why I used it <a href="https://www.leightley.com/its-a-new-blog/">here</a>. Filestore hosted by <a href="https://m.do.co/c/b203e75fc87d">Digital Ocean</a>.
        Theme based on <a href="https://bironthemes.com">Biron Themes</a>.</p>
      </div>
    </div>
  </div>
</footer>
