<div class="post_socialIcons">
    <ul>
        <li class="socialIcons_link">
            <a class="fa fa-twitter" href="https://twitter.com/share?url={{url absolute="true"}}&text=Daniel%20Leightley%3A%20{{encode title}}" onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"></a>
        </li>
        <li class="socialIcons_link">
            <a class="fa fa-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"></a>
        </li>
        <li class="socialIcons_link">
            <a class="fa fa-google-plus" href="https://plus.google.com/share?url={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"></a>
        </li>
        <li class="socialIcons_link linkedin">
            <a class="fa fa-linkedin" href="https://www.linkedin.com/shareArticle?mini=true&url={{url absolute="true"}}" onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"></a>
        </li>
        <li class="socialIcons_link reddit">
            <a class="fa fa-reddit-alien" href="https://reddit.com/submit?url={{url absolute="true"}}&title=Daniel%20Leightley%3A%20{{encode title}}" onclick="window.open(this.href, 'facebook-share','width=580,height=550');return false;"></a>
        </li>
        <li class="socialIcons_link">
            <a class="fa fa-envelope" href="mailto:?subject=Daniel%20Leightley%3A%20{{encode title}}&amp;body={{url absolute="true"}}"></a>
        </li>
    </ul>
</div>
